
<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Meeple World</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
  </head>
	<body id="page-top">
        <%- include navbar.ejs %>
        <div id="wrapper">
				<%- include sidebar.ejs %>
					<div id="content-wrapper">
						<div class="container-fluid">
							<div class="card mb-3">
								<div class="card-header">
									<i class="fas fa-address-card"></i> &nbsp; Advertise Trips
								</div>
								<form method="post" action="./init/update_info">
									<div class="card-body">
										<div class="form-group row">
											<label for="license_plate" class="col-sm-2 col-form-label"><b>Vehicle:</b></label>
											<div class="col-sm-7">
												<input type="text" required="required" class="form-control" id="license_plate"  value=""  name="s_location">
											</div>
										</div>
										<div class="form-group row">
											<label for="s_location" class="col-sm-2 col-form-label"><b>Start location:</b></label>
											<div class="col-sm-7">
												<input type="text" required="required" class="form-control" id="s_location"  value=""  name="s_location">
											</div>
										</div>
										<div class="form-group row">
											<label for="e_location" class="col-sm-2 col-form-label"><b>End location:</b></label>
											<div class="col-sm-7">
												<input type="text" required="required" class="form-control" id="e_location"  value=""  name="e_location">
											</div>
										</div>
										<div class="form-group row">
											<label for="s_date" class="col-sm-2 col-form-label"><b>Date:</b></label>
											<div class="col-sm-4">
												<input type="text" required="required" class="form-control" id="s_date" value="" name="s_date" >
											</div>
										</div>
										<div class="form-group row">
											<label for="s_time" class="col-sm-2 col-form-label"><b>Start time:</b></label>
											<div class="col-sm-4">
												<input type="text" required="required" class="form-control" id="s_time" value="" name="s_time" >
											</div>
											<label for="e_time" class="col-sm-2 col-form-label"><b>End time:</b></label>
											<div class="col-sm-4">
												<input type="text" required="required" class="form-control" id="e_time" value="" name="e_time" >
											</div>
										</div>
									</div>
									<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Advertise</button> &nbsp;&nbsp;&nbsp; <span class="badge badge-pill badge-info"></span></div>
								</form>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
										<thead>
											<tr>
												<th>Start Date</th>
												<th>End Date</th>
												<th>Start Time</th>
												<th>End Time</th>
												<th>Start Location</th>
												<th>End Location</th>
												<th>Vehicle</th>
												<th>Min Bid</th>
											</tr>
										</thead>
										<tbody>
											<% for(var i=0; i<data.length; i++) { %>
											<tr>
												<td><%= data[i].s_date%></td>
												<td><%= data[i].e_date%></td>
												<td><%= data[i].s_time%></td>
												<td><%= data[i].e_time%></td>
												<td><%= data[i].s_location%></td>
												<td><%= data[i].e_location%></td>
												<td><%= data[i].license_plate%></td>
												<td><%= data[i].min_bid%></td>
											</tr>
											<% } %>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
        </div>

  </body>
</html>

