<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Passenger Page</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="stylesheets/index.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../javascripts/passengerScript.js"></script>
</head>

<body id="page-top">
    <%- include navbar.ejs %>
        <div id="wrapper">
            <%- include sidebar.ejs %>
                <div id="content-wrapper">
                    <div class="container-fluid">
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-address-card"></i> &nbsp; Advertised Trips
                            </div>
                            <form action="/passenger" class="form-control" method="GET">
                                <div class="input-group">
                                    <input type="text" id="search" class="form-control" placeholder="s_location:e_location:s_date" aria-label="Search" aria-describedby="basic-addon2"
                                        name="location">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>Driver</th>
                                                <th>License Plate</th>
                                                <th>Start Location</th>
                                                <th>End Location</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Min Bid</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i<data.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="check" />
                                                    </td>
                                                    <td>
                                                        <%= data[i].driver_username%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].license_plate%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].s_location%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].e_location%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].s_time%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].e_time%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].s_date%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].e_date%>
                                                    </td>
                                                    <td>
                                                        <%= data[i].min_bid%>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <br />
                                    <div class="form-group" method="post">
                                        <input type="text" class="form-control" id="bid_price" name="bid_price" placeholder="Enter bid price" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer small text-muted">
                                <input id="btnGet" class="btn btn-secondary" type="button" value="Get Selected" />
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-address-card"></i> &nbsp; My Bids | Current
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>&nbsp;</th>
                                                <th>Driver</th>
                                                <th>License Plate</th>
                                                <th>Start Location</th>
                                                <th>End Location</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Bid Price</th>
                                                <th>Won?</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i<data2.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="check" />
                                                    </td>
                                                    <td>
                                                        <%= data2[i].driver_username%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].license_plate%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].s_location%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].e_location%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].s_time%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].e_time%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].s_date%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].e_date%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].bid_price%>
                                                    </td>
                                                    <td>
                                                        <%= data2[i].is_win%>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <br />
                                    <div class="form-group row">
                                        <label for="phone_num" class="col-sm-2 col-form-label">
                                            <b>Rating:</b>
                                        </label>
                                        <div class="col-sm-4">
                                            <input type="text" required="required" class="form-control" id="rating" placeholder="Rate driver to end trip" value="" name="phone_num">
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-footer small text-muted">
                                <input id="btnGet2" class="btn btn-secondary" type="button" value="Delete selected" />
                                <input id="btnGet3" class="btn btn-secondary" type="button" value="End selected trip" />
                            </div>


                        </div>
                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-address-card"></i> &nbsp; My Bids | Completed Trips History
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Driver</th>
                                                <th>License Plate</th>
                                                <th>Start Location</th>
                                                <th>End Location</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for(var i=0; i<data3.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= data3[i].driver_username%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].license_plate%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].s_location%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].e_location%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].s_time%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].e_time%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].s_date%>
                                                    </td>
                                                    <td>
                                                        <%= data3[i].e_date%>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
</body>

</html>